img{
    width:300px;
    height:220px;
}
h2{
    text-align:center;
    color:crimson;
    font-size:70px;
    padding:10px;
    text-shadow: 0 1px 0 #ccc,
           0 2px 0 #c9c9c9,
           0 3px 0 #bbb,
           0 4px 0 #b9b9b9,
           0 5px 0 #aaa,
           0 6px 1px rgba(0,0,0,.1),
           0 0 5px rgba(0,0,0,.1),
           0 1px 3px rgba(0,0,0,.3),
           0 3px 5px rgba(0,0,0,.2),
           0 5px 10px rgba(0,0,0,.25),
           0 10px 10px rgba(0,0,0,.2),
           0 20px 20px rgba(0,0,0,.15);
}
h1{
    text-align:center;
    color:teal;
    font-size:70px;
    padding:10px;
    text-shadow: 0 1px 0 #ccc,
           0 2px 0 #c9c9c9,
           0 3px 0 #bbb,
           0 4px 0 #b9b9b9,
           0 5px 0 #aaa,
           0 6px 1px rgba(0,0,0,.1),
           0 0 5px rgba(0,0,0,.1),
           0 1px 3px rgba(0,0,0,.3),
           0 3px 5px rgba(0,0,0,.2),
           0 5px 10px rgba(0,0,0,.25),
           0 10px 10px rgba(0,0,0,.2),
           0 20px 20px rgba(0,0,0,.15);
}
span {
    color: #015033;
    -webkit-text-stroke: 0.02em #CD7272;
    font-size: 20px;
    
}
.tipe{
   color:#07bff2;
   background-color:#116951;
   text-align:center;
   font-weight:bold;
   padding:5px;
   border:1px solid #116951;
   border-radius:30px;
   cursor:default;
}
.tipe:hover{
   color:#ffa50a;
   background-color:#d90d3d; 
   border:1px solid #d90d3d;
}
a{
    color: #015033;
    
}

.ubah,.hapus{
    width: 65px;
    font-weight: bold;
    -webkit-text-stroke: 0.01em white;
}
.ubah{
    background-color: teal;
    color: turquoise;
}
.hapus{
    background-color: turquoise;
    color: teal;
}
form{
    margin: 10px 0px;
}